.home {
  display: flex;
  flex-direction: column;
}
.home-left {
  background-color: #1c1c1c;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
}
.home-left-name {
  font-size: 20px;
  font-weight: 700;
  padding-top: 1rem;
}
.home-left-title {
  font-size: 30px;
  font-weight: 500;
}
.home-left-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home-left-content p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.home-left-trusted {
  color: #908f91;
  padding-top: 2rem;
}
.home-left-company-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
}
.home-left-company-logo img {
  width: 120px;
}
.home-left-review{
  display: flex;
  align-items: center;
  gap: .20rem;
}
.home-left-review img{
  width: 24px;
  filter: invert(1);
}

/* home first */
.right-panel-step-one {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right-panel-step-one-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-panel-step-one-container {
  width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.right-panel-step-one-container-title {
  font-size: 30px;
  font-weight: 400;
}
.right-panel-step-one-container-detail {
  color: #908f91;
  font-size: 1rem;
}

.right-panel-step-one-form-lable {
  font-size: 14px;
}
.right-panel-step-one-form-input {
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid grey;
}
.right-panel-step-one-form-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}
.right-panel-step-one-form-box-btn {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 1.25rem;
  background-color: black;
  color: white;
}

.right-panel {
  /* overflow: hidden; */
  /* width: 100%; */
}

.steps-track {
  display: flex;
  justify-content: center;
  width: 100%;
  /* transition: transform 10s ease-in-out; */
}
.right-panel-step-two {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  font-size: 14px;
  /* border: 1px solid black; */
}
.right-panel-step-two span {
  font-size: 12px;
  font-weight: 500;
  color: grey;
}
.right-panel-step-two h1 {
  font-weight: 500;
  font-size: 32px;
  margin-top: 1.75rem;
}
.right-panel-step-two h2 {
  padding: 0;
  margin: 0;
}
.right-panel-step-two-box {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 1rem;
}
.tell-about_name {
  display: flex;
  gap: 1rem;
}
.tell-about_name_first,
.tell-about_name_last {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tell-about_name input{
  width: 100%;
}
.tell-about_country {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tell-about_country img {
  width: 18px;
}
.tell-about_phone {
  display: flex;
  justify-content: space-between;
}

.right-panel-step-two_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-panel-step-two_form input {
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 0.75rem 1rem;
}
.right-panel-step-two_form textarea {
  border-radius: 0.5rem;
  height: 7.5rem;
}
.tell-about_hear {
  display: flex;
  justify-content: space-between;
}

.tell-about_back_submit {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.tell-about_back_submit button {
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 1.25rem;
}
.tell-about_submit {
  background-color: #1c1c1c;
  color: whitesmoke;
  font-weight: 500;
  font-size: 15px;
}
.tell-about_back img {
  display: flex;
  width: 30px;
}

/* dropdown */
.right-panel-step-three {
  display: flex;
  align-items: center;
}
.right-panel-step-three_box {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  gap: 1.25rem;
}
.right-panel-step-three_box a {
  color: rgb(43 127 255);
}

.thanks-title{
  font-weight: 500;
  letter-spacing: .1rem;
}
.thanks-description{
  font-weight: 400;
  color: #908f91;
  letter-spacing: .05rem;
}
.thanks-iframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.thanks-iframe iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.thanks-btn{
  border: 0;
  border-radius: 1.5rem;
  padding: .75rem 0;
  font-size: 16px;
}
@media screen and (min-width:1000px) {
  .home{
    flex-direction: row;
  }
  .home-left,.right-panel{
    width: 50%;
  }
  .steps-track{
    height: 100vh;
    overflow-y: scroll;
  }
}